/* Grundlegende Styles */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .flex-container {
        flex-direction: row;
        justify-content: space-between;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #0056b3;
    color: white;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buchen-button {
    background-color: #0056b3; /* Blau */
    color: white;
}

.buchen-button:hover {
    background-color: #007BFF;
}

.freigabe-button {
    background-color: #FFA500; /* Orange */
    color: white;
}

.freigabe-button:hover {
    background-color: #cc8400;
}

/* Responsives Verhalten der Tabellen */
@media (max-width: 768px) {
    .table-responsive {
        overflow-x: auto;
        margin-bottom: 20px; /* Fügt einen unteren Abstand zwischen den Tabellen hinzu */
    }
}
